<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pero Cotronlador de Bolumen del Mundo</title>


	<link rel="stylesheet" href="../styles/style.css">
</head>
<body>
	<h1>Pero cotronlador de bolumen del mundo</h1>
	<b>Instrucciones</b>
	<div class="sm0l">
		
		Para poder usar el controlador, debes hacer lo siguiente:

		教十成「良干視呢事或」貝綠道果冒叫力化念昌，在問登足見地固不百們青，几坡未。干抓飽冒夏久辛春小幾黑但蝶六扒找，每見弓風找澡包羊。

天甲汗告抓室肖進常裏室結小綠畫千親，樹房裝做直干汗牠何對送木。相物王停丁英干什雄朋很光青鳥吧生！白麻不。

幸壯習像果牠室問誰三安七：南間書，內羊親看我躲巾里，士央勿貫示者筆安牛聲冬各陽科行，土到交樹今沒眼魚：風哭采貓肖彩法向棵秋；習蝶帶氣室做肖信話經白米，里巴麼看沒哥河有姊字買夏尺加？收主再躲種明北海爪。

跟兩走下村波公急抄甲條友。叫昔雞犬拍人東怕；美肉光長布立虎麼根語女昌又身戶！物貝斤十刃毛斥首巴跑身間科明月林午、草京司羽同根。十林瓜，哭士花好化比神胡工、田它陽個消課羽清。

蝴回英員見吧波光衣旁登上者師食乙肖「視用動買荷麼千」穿可呢九乾黃位已抄幾圓文雨自大甲，雲能姐叫合買兒雪浪空布波。重元星冒屋自，朋快旦燈經玉燈果起我好，士少不辛弟英老信、新杯躲。

或洋反着但找世像往北海筆占躲夕、言未那二但壯頭從雄好隻走書往即示今爬得告。穿朵者旁坐果老同裝學貫重言次發追林朋經，蝸的少福氣蝶快冰麼門許旦服、流來今問是比。沒住開公昌現不坐。


ロレム・イプサムは、デザインや出版業界で一般的に使用されているプレースホルダー テキストの一種で、ページ上のスペースを埋めて最終的なコンテンツがどのように見えるかの印象を与えます。日本語のロレム・イプサムは、ローマの哲学者キケロのラテン語のテキストに由来し、1960年代から使用されています。このテキストは意味をなさず、特定の意味を伝えないため、デザイナーは意味のあるコンテンツに気を取られることなく、レイアウトや視覚的な要素に集中できます。

プレースホルダー テキストは、デザイナーが実際のコンテンツに気を取られることなくレイアウトを視覚化するために不可欠です。これにより、美学と構造に集中でき、バランスの取れたプレゼンテーションが保証されます。すっきりとしたレイアウトは創造性を高め、タイポグラフィ、色、間隔の実験を容易にします。この方法は、デザイン プロセスを合理化し、関係者がプロジェクトの可能性を思い描くのに役立ちます。

クリエイティブ プロジェクトでは、レイアウトは効果的なメッセージングに不可欠です。ロレム・イプサムを使用すると、デザイナーはさまざまな要素を試して、特定のコンテンツに気を取られることなく構成に集中できます。このプレースホルダー テキストは、テキストと画像の相互作用を視覚化するのに役立ち、見た目も機能も兼ね備えた最終製品を実現します。また、クライアントにデザインの方向性を具体的に表現し、期待を一致させ、共同フィードバックを促進します。

タイポグラフィは効果的なデザインの中心であり、コンテンツの認識方法に大きな影響を与えます。さまざまな長さとスタイルのロレム・イプサムを使用すると、デザイナーはさまざまなフォントとサイズがどのように相互作用するかを確認し、視覚的に一貫性のあるプレゼンテーションを作成できます。たとえば、太字のヘッダーと控えめな本文フォントを組み合わせると、視聴者の目を誘導する階層が確立されます。この実験は、美観と読みやすさの両方を向上させるデザインを開発するために不可欠であり、デザイナーはタイポグラフィの選択を洗練して、コンテンツの意図したトーンとメッセージを伝えることができます。

日本語のテキストでロレム・イプサムを使用すると、デザイナーはページ全体で視聴者の目を自然に誘導する方法で要素を配置できます。実際のコンテンツから気を散らすことなく画像と空白のバランスを簡単にとることができ、すっきりとした魅力的なユーザー エクスペリエンスを促進します。このアプローチにより、視覚的な魅力を維持しながら重要な情報が目立つようになります。さらに、デザイナーは実際のテキストの制約を受けずにさまざまなレイアウトやスタイルを試すことができるため、視聴者を魅了するより革新的なソリューションにつながります。
	</div>

	<div class = "controller">
		<b>Volumen</b>
		<p id="volumen">0</p>
	</div>

	<audio id="test" src="../audio/never gonna give you up.mp4"></audio>
	<button onclick="play('test')">Play Song</button>
	<button onclick="stop('test')">Stop Song</button>
	
	<script src="../scripts/index.js"></script>
</body>
</html>